html{
  scroll-behavior: smooth;
}

.subtitle{
  font-weight: "300 !important";
}

@media (max-width: 768px) {
  #testimonials{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  
   .intro{
     margin-top: 50px;  
   }

   .testcard{
     display: flex;
     justify-content: center;
   }

   .firstset img{
    display: flex;
    margin-left: 80px;
   }
   .secondset img{
    display: flex;
    margin-left: 80px;
   }
   .thirdset img{
    display: flex;
    margin-left: 80px;
  }
}

@media (max-width: 576px) {
  .nav-link {
    font-size: 16px !important;
  }

  .nav-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .header-bannerimage {
     width: 400px !important;
  }

  .footer-lists {
    list-style-type: none !important;
  }

  .section-header{
    padding: 0 40px !important;
  }
}

@media (max-width: 768px) {
   .featured{
    margin-top: "0px";  
  }

  .companylogo{
    text-align: center;
  }

  

  .securitylogo{
    margin-top: 20px;
  }

  .carouselwidth{
    max-width: 30rem;
  }

  .showcase{
    margin: 50px 0;
  }

  .growfinlogos{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }

}


.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}












